/*------------------------------------*\
  #BANNER
\*------------------------------------*/

.banner {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  padding-bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include media-min("med") {
    & {
      background-position: -180px;
      background-size: auto;
    }
  }

  @include media-min("med") {
    align-items: center;
  }

  @include media-min("wide") {
    padding-left: 50%;
    padding-right: 4rem;
    padding-bottom: 15%;
    align-items: flex-end;
  }
}

@mixin title-bar() {
  content: "";
  display: inline-block;
  width: 4rem;
  margin-right: 1rem;
  border-top: 0.3rem solid $color-primary;
  transform: translateY(-0.5rem);
}

.banner__title {
  padding-bottom: 1rem;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: white;

  @include media-max("med") {
    &::before {
      @include title-bar();
    }
  }

  @include media-min("med") {
    text-align: center;

    &::before {
      @include title-bar();
    }

    &::after {
      margin-left: 1rem;

      @include title-bar();
    }
  }

  @include media-min("wide") {
    font-size: 2rem;
    text-align: right;
    color: $color-darker;

    &::before {
      content: none;
    }

    &::after {
      margin-left: 1rem;

      @include title-bar();
    }
  }
}

.banner__intro {
  font-size: 2.5rem;
  font-family: $font-secondary;
  font-weight: bold;
  text-align: left;
  color: $color-primary;

  @include media-min("med") {
    text-align: center;
  }

  @include media-min("wide") {
    font-size: 3.5rem;
    text-align: right;
    line-height: 4rem;
  }
}

.banner__learn-more {
  margin-top: 2rem;
}

.banner__buttons {
  display: none;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media-min("wide") {
    display: flex;
    flex-direction: column;
  }
}

.banner__social {
  @include media-min("wide") {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-top: 4rem;
  }
}
