/*------------------------------------*\
  #CONTACT-INFO
\*------------------------------------*/

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-min("med") {
    align-items: flex-start;
  }
}

.contact-info__type {
  margin-bottom: 1rem;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-light;
}

.contact-info__value {
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: $color-darker;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  @include media-min("med") {
    text-align: left;
  }
}
