/*------------------------------------*\
  #DEGREE
\*------------------------------------*/

.degree {
  margin-bottom: 2rem;

  &::before {
    content: "\f19d";
    font-family: FontAwesome, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: $color-darker;
  }
}

.degree__title {
  font-family: $font-primary;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-primary;
}

.degree--is-course {
  &::before {
    content: none;
  }
}
