/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: $color-shadow;
}

.footer__links {
  display: flex;
  list-style: none;
}
