/*------------------------------------*\
  #FORM
\*------------------------------------*/

.form {
  display: flex;
  flex-direction: column;
}

.form__control {
  display: flex;
  flex-direction: column;

  &:not(:first-of-type) {
    margin-top: 2rem;
  }
}

.form__label {
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: bold;
}

.form__field {
  appearance: none;
  padding-bottom: 2rem;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 1pt solid $color-dark;
  color: white;

  &::placeholder {
    color: $color-light;
  }

  &:focus {
    outline: none;
  }
}
