/*------------------------------------*\
  #JOBS
\*------------------------------------*/

$bullet-spacing: 3rem;
$bullet-diameter: 1rem;

.jobs {
  list-style: none;
}

.jobs__item {
  display: flex;
  flex-direction: column;
  border-left: 1pt solid $color-light;
  padding-left: 3rem;

  &::before {
    content: "";
    display: block;
    width: $bullet-diameter;
    height: $bullet-diameter;
    margin-left: -($bullet-diameter + $bullet-spacing);
    margin-bottom: -$bullet-diameter * 2;
    background-color: $color-primary;
    border-radius: 100%;
    border: 5px solid $color-light;
  }

  &:not(:last-of-type) {
    padding-bottom: 3rem;
  }
}

.jobs__item-date {
  margin-bottom: 1rem;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-secondary;
}

.jobs__item-company {
  margin-bottom: 0.5rem;
  font-family: $font-primary;
  font-size: 2.5rem;
  font-weight: bold;
}

.jobs__item-position {
  margin-bottom: 1.5rem;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-dark;
}

.jobs__item-description {
  font-family: $font-primary;
  font-size: 2rem;
}

.jobs__item-location {
  margin-bottom: 1.5rem;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: normal;
  color: $color-dark;
  margin-top: -1rem;
}
