/*------------------------------------*\
  #MENU
\*------------------------------------*/

$menu-height: 25rem;
$menu-top-offset: 6rem;

.menu__toggle-button {
  position: relative;
  z-index: 100;
  font-size: 2.5rem;
  color: $color-primary;

  &::before {
    font-family: FontAwesome, sans-serif;
    font-weight: 900;
    content: "\f0c9";
  }

  @include media-min("med") {
    & {
      display: none;
    }
  }
}

.menu__toggle-button--is-clicked {
  &::before {
    content: "\f00d";
  }
}

.menu__options {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  overflow: hidden;

  background-color: $color-dark;
  transition: height 0.25s ease-out;

  @include media-min("med") {
    position: relative;
    height: 100%;
    flex-direction: row;
    background-color: transparent;
  }
}

.menu__options--is-expanded {
  height: $menu-height;
  padding-top: $menu-top-offset;
}

.menu__item {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $color-darker;
  }

  @include media-min("med") {
    &:not(:last-child) {
      margin-bottom: 0;
      border-bottom: 0;

      margin-right: 1.5rem;
    }
  }
}
