/*------------------------------------*\
  #PORTFOLIO
\*------------------------------------*/

$portfolio-image-width: 340px;
$portfolio-image-height: 210px;

.portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: $portfolio-image-width;
  column-gap: 0;
  row-gap: 0;
  justify-content: center;

  @include media-min("med") {
    grid-template-columns: repeat(2, $portfolio-image-width);
  }

  @include media-min("wide") {
    grid-template-columns: repeat(3, $portfolio-image-width);
  }
}

.portfolio__item {
  position: relative;
  height: $portfolio-image-height;
  overflow: hidden;
  color: white;
}

.portfolio__item-image {
  width: 100%;
  height: 100%;
  filter: brightness(30%) sepia(1) hue-rotate(90deg) saturate(45%);

  &:hover {
    cursor: pointer;
    filter: brightness(75%);
    transform: scale(1.05);
    transition: transform 0.3s ease-in, filter 0.3s;
  }
}

.portfolio__item-description {
  position: absolute;
  bottom: 10%;
  z-index: 1;
  padding-left: 2rem;
  font-family: $font-primary;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px black, -2px -2px 8px black;
}

.portfolio__item-name {
  text-transform: uppercase;
}

.portfolio__item-stack {
  font-weight: normal;
  text-transform: capitalize;
}
