/*------------------------------------*\
  #PROGRESS
\*------------------------------------*/

.progress {
  display: flex;
  flex-direction: column;
  
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.progress__label {
  margin-bottom: 1rem;
  font-family: $font-primary;
  font-size: 2rem;
  font-weight: bold;
  color: $color-dark;
}

.progress__bar {
  width: 100%;
  height: 5px;
  appearance: none;
  border: none;

  &::-webkit-progress-bar,
  &::-moz-progress-bar {
    background-color: $color-primary;
  }
}
