/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$color-primary: #62a262;
$color-secondary: #aaa;
$color-light: #ccc;
$color-dark: #333;
$color-darker: #555;
$color-shadow: #0a0809;

.c-bg-light {
  background-color: white;
}

.c-bg-dark {
  background-color: #eee;
}

.c-bg-darker {
  background-color: $color-shadow;
}

.t-bg-banner-dark {
  background: url(../images/banner-bw-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
