/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

$font-primary: "Montserrat", "Sans-serif";
$font-secondary: "Libre Baskerville", serif;

.t-title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-family: $font-primary;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $color-primary;
}

.t-subtitle {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-family: $font-secondary;
  font-weight: bold;
  text-transform: capitalize;
  color: $color-dark;
}

.t-subtitle--is-light {
  color: white;
}

.t-heading {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-family: $font-primary;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  color: $color-dark;
}

.t-subheading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: $font-primary;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  color: $color-dark;
}

.t-text {
  font-family: $font-secondary;
  font-size: 2rem;
  line-height: 2.8rem;
  color: $color-darker;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  @include media-max("med") {
    text-align: center;
  }
}

.t-text--is-intro {
  margin-bottom: 2rem;
  font-family: $font-primary;
  font-size: 2rem;

  &::after {
    display: block;
    width: 60%;
    margin: 4rem auto 4rem auto;
    border-bottom: 1pt solid #ccc;
    content: "";
  }
}

.t-text--is-light {
  font-size: 2rem;
  color: #aaa;

  &::after {
    border: none;
  }
}

.t-text--is-meta {
  margin-bottom: 0;
  font-family: $font-primary;
  font-weight: bold;
  color: $color-primary;
}

.t-text--is-primary {
  font-family: $font-primary;
}

.t-text--is-secondary {
  font-family: $font-secondary;
}

.t-text--is-small {
  font-size: 1.5rem;
}
