/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

@use "sass:color";

/**
* Generates basic button styles rules for the given color, 
* and background color.
*/

@mixin button-generator($color, $bg) {
  background-color: $bg;
  color: $color;

  &:hover {
    color: $color;
    background-color: darken($bg, 10%);
    transition: background-color 0.1s ease-in;
  }
}

.btn {
  appearance: none;
  display: block;
  padding: 1.5rem 3rem;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;

  @include media-max("med") {
    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }
}

.btn--is-primary {
  @include button-generator(white, $color-primary);
}

.btn--is-secondary {
  @include button-generator(white, $color-secondary);
}

.btn--is-icon {
  @include button-generator(white, $color-primary);

  padding: 0;
  font-size: 2rem;
  border: none;
}
