/*------------------------------------*\
  #LNKS
\*------------------------------------*/

@use "sass:color";

/**
* Generates basic link styles rules for the given color and
* hover color.
*/

@mixin link-generator($color, $hover-color) {
  &:link,
  &:visited {
    color: $color;
  }

  &:hover {
    color: $hover-color;
  }
}

.link {
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.link--is-primary {
  @include link-generator($color-primary, lighten($color-primary, 20%));
}

.link--is-selected {
  border-bottom: 2px solid $color-primary;
}

.link--is-light {
  @include link-generator($color-light, darken($color-light, 20%));
}

.link--is-dark {
  @include link-generator($color-dark, lighten($color-dark, 20%));
}

.link--is-icon {
  font-size: 2.5rem;
  background-color: transparent;
}
