/*------------------------------------*\
  #NAV
\*------------------------------------*/

$nav-height: 6rem;

.nav {
  width: 100%;
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 2rem;
  z-index: 1000;
}

.nav--is-fixed {
  position: fixed;
  top: -$nav-height;
  background-color: $color-shadow;
  animation: slideDown 0.25s ease-in forwards;
}

@keyframes slideDown {
  to {
    top: 0;
  }
}

.nav__sibling--is-fixed {
  animation: expandDown 0.25s ease-in forwards;
}

@keyframes expandDown {
  to {
    padding-top: $nav-height + 3rem;
  }
}
