/*------------------------------------*\
  #ALIGNMENT
\*------------------------------------*/

.l-text-flex {
  display: inline-block;
  width: 100%;
  text-align: left;

  @include media-max("med") {
    text-align: center !important;
  }
}

.l-center {
  text-align: center !important;
}

.l-left {
  text-align: left !important;
}

.l-justify {
  text-align: justify !important;
}
