/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

.l-container {
  width: 100%;
}

.l-container--is-flex {
  padding-left: 2rem;
  padding-right: 2rem;

  @include media-min("wide") {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.l-container--is-two-columns {
  display: grid;
  grid-template-columns: 1fr;

  @include media-min("large") {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  @include media-min("wide") {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
  }
}
