/*------------------------------------*\
  #MARGINS-PADDINGS
\*------------------------------------*/

/**
* Automatically generates classes for different levels of 
* margin and padding.
*   *-1: 0.5rem
*   *-2: 1rem
*   *-3: 1.5rem
*   *-4: 2rem
*   *-5: 2.5rem
*   *-6: 3rem
*   *-7: 3.5rem
*   *-8: 4rem
*/

@for $i from 1 through 8 {
  $value: $i * 0.5;

  .l-mx-#{$i} {
    margin-left: #{$value}rem;
    margin-right: #{$value}rem;
  }
  .l-my-#{$i} {
    margin-top: #{$value}rem;
    margin-bottom: #{$value}rem;
  }
  .l-px-#{$i} {
    padding-left: #{$value}rem;
    padding-right: #{$value}rem;
  }
  .l-py-#{$i} {
    padding-top: #{$value}rem;
    padding-bottom: #{$value}rem;
  }
}
