/*------------------------------------*\
  #BASE
\*------------------------------------*/

/**
* 1. Not supported by IE.
* 2. We set the base font size to 10px in order to ease the calculation of
*    rm values. 1rem will equal to 10px, 1.2rem will equal 12px, and so
*    on, making the conversion process easier to grasp. 
*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth; /* [1] */
}

:root {
  font-size: 10px; /* [2] */
}

body {
  background-color: $color-shadow;
}

header {
  width: 100%;
  height: 100vh;
  background: url(../images/banner-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;

  @include media-min("large") {
    & {
      background-position: -180px;
      background-size: auto;
    }
  }
}

a {
  text-decoration: none;
}

q {
  quotes: "«" "»";
}

.logo {
  z-index: 100;
  font-family: $font-secondary;
  font-size: 3.2rem;
  font-weight: bold;
  color: $color-primary;
}
